* {
    font-family: sans-serif;
}

.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selector {
    text-align: center;
    margin: 0 0 30px 0;
}

.selector label {
    font-weight: bold;
}

.selector .drop-down {
    width: 400px;
}

div.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    height: 400px;
}

header#home-header {
    display: flex;
    flex-direction: row;
    border-bottom: solid #292828 1px;
    border-top: solid #292828 1px;
    justify-content: center;
}

#page-selector {
    width: 400px;
}

.home-icon {
    text-decoration: none;
    color: black;
}

.home-icon img {
    height: 50px;
}

#iframe {
    border: none;
    width: 100%;
    height: 675px;
    /* border-left: solid 10px black; */
}

.iframe-selector {
    width: 100%;
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 3% 20% 75%;
}

.main-selector {
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start;
    align-items: start;
}

.persona-text {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

#all-persona.header-all-persona {
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.home-page-container {
    display: flex;
    flex-direction: column;
    /* background-color: #d3d3d3; */
    padding: 20px;
    align-items: end;
    border-radius: 20px;
}

#label-container-id {
    display: inline-block;
    align-self: center;
    font-size: 1.72em;
    font-weight: bold;
    color: black;
    /* background-color: yellow; */
    border: solid 1px black;
    padding: 30px 115px 30px 115px;
    border-radius: 5px;
}

#career-options {
    text-align: left;
    padding: 10px;
    margin: 10px;
    font-size: 1.5em;
}

.home-page-container #button {
    padding: 5px;
    width: 20%;
    font-size: 1.05em;
    font-weight: bold;
}

.heading-for-all-persona {
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    /* text-align: center; */
}

#p-selector,
#skill-selector-1,
#skill-selector-2 {
    text-align: left;
}

#p-selector {
    color: gray;
    font-size: small;
}

#skill-selector-2 {
    color: gray;
}


#iframe-one {
    border: none;
    width: 100%;
    height: 700px;
    /* border-left: solid 10px black; */
    grid-row-start: 2;
    grid-row-end: 3;
}

.iframe-one-selector {
    width: 100%;
    height: 700px;
    text-align: center;
    display: grid;
}

/* new style */
.functional-areas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Creates 4 columns */
    gap: 20px;
    /*Adds some space between columns*/
    padding: 20px;
    /*Optional: Adds some padding around the grid*/
}

.functional-area-column {
    background: #f7f7f7;
    /*Optional: Adds a background color to each column*/
    border: 1px solid #e1e1e1;
    /*Optional: Adds a border to each column*/
    padding: 20px;
    /*Optional: Adds some padding inside each column*/
    border-radius: 8px;
    /*Optional: Rounds the corners of each column*/
}

/*Skills Table from Persona 3*/

.skills-table-container {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.skills-table-container h4 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
}

.skills-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.skills-table-container th,
.skills-table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.skills-table-container th {
    background-color: #f2f2f2;
    color: #333;
}

/* Style the home-page cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    display: inline-block;
    width: 300px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 9px 4px #A3A09F;
    transition: all .3s ease-in-out;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 10px 5px 9px 4px #767473;
}

.card h2 {
    margin-top: 10px;
    font-size: 20px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
}

a {
    text-decoration: none;
    /*Remove the underline from links*/
    color: black;
    /*  Make texts black */
}

#card-1 {
    background-color: #CCF8EA;
    border:2px solid #3766E2;
}

#card-2 {
    background-color: #c2e0f0; 
    border:2px solid #3766E2;
}

#card-3 {
    background-color: white;
    border:2px solid #3766E2;
}

div#card-1 p,
div#card-1 a,
div#card-2 p,
div#card-2 a,
div#card-3 p,
div#card-3 a {
    /* color: white; */
    margin-bottom: 100px;
    font-size: 1.05em;
}

#submit-ratings {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #134AAE;
    color: white;
}

.functional-area-out {
    border: grey 1px solid;
    padding-bottom: 20px;
    background-color: #ddd;
}