* {
    font-family: sans-serif;
}

.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selector {
    text-align: center;
    margin: 0 0 30px 0;
}

.selector label {
    font-weight: bold;
}

.selector .drop-down {
    width: 400px;
}

div.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    height: 400px;
}

header#home-header {
    display: flex;
    flex-direction: row;
    border-bottom: solid rgb(0, 0, 0) 3px;
    justify-content: center;
}

#page-selector {
    width: 400px;
}

.home-icon {
    text-decoration: none;
    color: black;
}

.home-icon img {
    height: 50px;
}

#iframe {
    border: none;
    width: 100%;
    height:675px;
    border-left: solid 10px black;
}

.iframe-selector{
    width: 100%;
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: 3% 20% 75%;
}

.main-selector{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: start;
    align-items: start;
}

.persona-text{
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self:center;
}

#all-persona.header-all-persona{
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.home-page-container{
    display: flex;
    flex-direction: column;
    background-color: #d3d3d3;
    padding: 20px;
    align-items: end;
}

#label-container-id{
    display: inline-block;
    align-self:center;
    font-size: 1.5em;
    font-weight: bold;
}

#career-options{
    text-align: left;
    padding: 10px;
    margin:10px;
    font-size: 1.5em;
}

.home-page-container #button{
    padding: 5px;
    width: 20%;
    font-size: 1.05em;
    font-weight: bold;
}

.heading-for-all-persona{
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self:center;
    /* text-align: center; */
}

#p-selector{
    color:gray;
    text-align: left;
}

#iframe-one {
    border: none;
    width: 100%;
    height:675px;
    border-left: solid 10px black;
    grid-row-start: 2;
    grid-row-end: 3;
}

.iframe-one-selector{
    width: 95%;
    height:675px;
    text-align: center;
    display: grid;
}