* {
    font-family: sans-serif;
}

.selector-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.selector {
    text-align: center;
}

.selector label {
    font-weight: bold;
}

.selector .drop-down {
    width: 400px;
}

.page-container {
    border: 2px solid blue;
    padding: 2px;
    height: 400px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-selector {
    width: 400px;
}